button{
  padding: 10px;
  margin-left: 50px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}
h1{
  color:red;
}
p{
  font-weight: bolder;
  font-size: 25px;
  font-family: sans-serif;
}
